<mat-card>
    <mat-card-header>
        <mat-card-title>
            Event
        </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-content *ngIf="!isLoading" class="form-container">
        <mat-form-field>
            <input matInput type="text" name="title" placeholder="Title" [ngModel]="(event | async)?.title"
                (ngModelChange)="eventDoc.update({title: $event})">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="address" placeholder="Address" [ngModel]="(event | async)?.address"
                (ngModelChange)="eventDoc.update({address: $event})">
        </mat-form-field>
        <mat-form-field class="time">
            <input type="time" matInput placeholder="Start Time" [ngModel]="(event | async)?.startTime" name="startTime"
                (ngModelChange)="eventDoc.update({startTime: $event})">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="image" placeholder="Image URL" [ngModel]="(event | async)?.imageUrl"
                (ngModelChange)="eventDoc.update({imageUrl: $event})">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="5" name="description" placeholder="Description"
                [ngModel]="(event | async)?.description" (ngModelChange)="eventDoc.update({description: $event})">
                </textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of tagList" removable=true (removed)="removeTag(tag)">
                    {{tag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="New tag..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur=true
                    (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
        </mat-form-field>

    </mat-card-content>
</mat-card>