<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{event.title}}
        </mat-card-title>
        <mat-card-subtitle (click)="service.openGoogleMap(event.placeId)">
            <mat-icon>location_on</mat-icon>
            {{event.placeName}}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="event.imageUrl" alt="image">
    <mat-card-content>
        <p>{{event.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="register()">
            {{event.isRegistered ? 'Unregister' : 'Register'}}
        </button>
        <span fxFlex></span>
        <button mat-icon-button (click)="showRegistrationsClicked()">
            <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button (click)="favoriteClicked()">
            <mat-icon [color]="event.isFavorite ? 'accent':''">favorite</mat-icon>
        </button>
        <button mat-icon-button routerLink="/event/{{event.id}}">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
    <mat-list *ngIf="showRegistrations" dense>
        <mat-list-item *ngFor="let registration of registrations"> {{registration.name}} </mat-list-item>
    </mat-list>
</mat-card>