<div class="center-div" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/">
      ActiviKey
    </button>
    <span fxFlex></span>
    <ngx-auth-firebaseui-avatar (onSignOut)="onSignOut()"></ngx-auth-firebaseui-avatar>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="gyms">Gyms</a>
        <a mat-list-item routerLink="dances">Dances</a>
        <a mat-list-item routerLink="sport">Sport</a>
        <a mat-list-item href="http://activikey.mystrikingly.com/">About Us</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>