<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Saturday morning beach volleyball</mat-card-title>
        <mat-card-subtitle>Floreat, WA</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/Floreat.jpg">
    <mat-card-content>
        <p>
            Come play social game of beach volleyball on a free public courts next to the Kiosk cafee on Floreat beach.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>REGISTER</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Sunday afternoon football game</mat-card-title>
        <mat-card-subtitle>Yokine, WA</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/Yokine.jpg">
    <mat-card-content>
        <p>
            Come play social game of football on a beautiful free public open space.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>REGISTER</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>