<div>
    <h1>Events</h1>
    <span fxFlex></span>
    <button mat-mini-fab routerLink="/event">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<mat-card *ngFor="let event of events | async">
    <mat-card-header>
        <mat-card-title>
            {{event.title}}
        </mat-card-title>
        <mat-card-subtitle>{{event.address}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="event.imageUrl" alt="image">
    <mat-card-content>
        <p>{{event.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Register</button>
        <span fxFlex></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button routerLink="/event/{{event.id}}">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>