<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{partner.title}}
        </mat-card-title>
        <mat-card-subtitle (click)="service.openGoogleMap(partner.placeId)">
            <mat-icon>location_on</mat-icon>
            {{partner.placeName}}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="partner.imageUrl" alt="image">
    <mat-card-content>
        <p>{{partner.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <mat-slide-toggle [(ngModel)]="showEvents" (change)="eventsToggleChanged($event.checked)">Events
        </mat-slide-toggle>
        <span fxFlex></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button routerLink="/partner/{{partner.id}}">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<div *ngIf="showEvents">
    <app-event-card *ngFor="let event of events | async" [event]="event"></app-event-card>
</div>